# Folk Hero Volo, Itinerant Scholar

In [4]:
# packages
import numpy as np
import pandas as pd
#import scrython #!pip install scrython

## Number of Creatures By Type

In [12]:
# data
sf = pd.read_json("https://c2.scryfall.com/file/scryfall-bulk/oracle-cards/oracle-cards-20220615090211.json")

In [14]:
sf.columns

Index(['object', 'id', 'oracle_id', 'multiverse_ids', 'mtgo_id',
       'mtgo_foil_id', 'tcgplayer_id', 'cardmarket_id', 'name', 'lang',
       'released_at', 'uri', 'scryfall_uri', 'layout', 'highres_image',
       'image_status', 'image_uris', 'mana_cost', 'cmc', 'type_line',
       'oracle_text', 'colors', 'color_identity', 'keywords', 'legalities',
       'games', 'reserved', 'foil', 'nonfoil', 'finishes', 'oversized',
       'promo', 'reprint', 'variation', 'set_id', 'set', 'set_name',
       'set_type', 'set_uri', 'set_search_uri', 'scryfall_set_uri',
       'rulings_uri', 'prints_search_uri', 'collector_number', 'digital',
       'rarity', 'flavor_text', 'card_back_id', 'artist', 'artist_ids',
       'illustration_id', 'border_color', 'frame', 'full_art', 'textless',
       'booster', 'story_spotlight', 'edhrec_rank', 'prices', 'related_uris',
       'security_stamp', 'preview', 'power', 'toughness', 'penny_rank',
       'arena_id', 'watermark', 'produced_mana', 'all_parts', 'card_faces',
       'frame_effects', 'tcgplayer_etched_id', 'promo_types', 'loyalty',
       'life_modifier', 'hand_modifier', 'color_indicator', 'content_warning'],
      dtype='object')

In [70]:
# tidy scryfall data

## general clean up

### reduce columns
sf_cols = ['name', 'mana_cost', 'cmc', 'type_line', 'oracle_text', 'colors', 'color_identity', 'edhrec_rank', 'power', 'toughness']
sf2 = sf[sf_cols]

### change data types
sf2['color_identity'] = sf2['colors'].astype(str)

## filter for just humans for volo
humans = sf2[
    (sf2['type_line'].str.contains('Human')) & 
    (~sf2['type_line'].str.contains('//', regex = False)) &
    (~sf2['color_identity'].str.contains('(B|R|G)', regex = True)) & 
    (~sf2['mana_cost'].isna())
]

humans[['type', 'subtype']] = humans['type_line'].str.split('—', expand = True)
humans_exp = humans.assign(subtype = humans['subtype'].str.split(' ')).explode('subtype')
humans_exp = humans_exp[(humans_exp['subtype'] != 'Human') & (humans_exp['subtype'] != '')]

## filter for just wizards for volo
wizards = sf2[
    (sf2['type_line'].str.contains('Wizard')) & 
    (~sf2['type_line'].str.contains('//', regex = False)) &
    (~sf2['color_identity'].str.contains('(B|R|G)', regex = True)) & 
    (~sf2['mana_cost'].isna())
]

wizards[['type', 'subtype']] = wizards['type_line'].str.split('—', expand = True)
wizards_exp = wizards.assign(subtype = wizards['subtype'].str.split(' ')).explode('subtype')
wizards_exp = wizards_exp[(wizards_exp['subtype'] != 'Wizard') & (wizards_exp['subtype'] != '')]

C:\Users\nccru\AppData\Local\Temp/ipykernel_3472/3892213060.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sf2['color_identity'] = sf2['colors'].astype(str)
C:\Users\nccru\AppData\Local\Temp/ipykernel_3472/3892213060.py:16: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  (~sf2['color_identity'].str.contains('(B|R|G)', regex = True)) &
C:\Users\nccru\AppData\Local\Temp/ipykernel_3472/3892213060.py:28: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  (~sf2['color_identity'].str.contains('(B|R|G)', regex = True)) &

In [65]:
# count human creature representations
humans_exp.groupby('subtype').size().reset_index(name = 'count')\
    .sort_values(by = 'count', ascending = False)

        subtype  count
38      Soldier    330
43       Wizard    295
9        Cleric    223
17       Knight    138
42      Warrior     58
34        Rogue     44
3     Artificer     38
20         Monk     37
29       Pirate     35
31        Rebel     31
0       Advisor     29
36        Scout     29
35      Samurai     20
25        Nomad     18
39  Spellshaper     16
1          Ally     15
2        Archer     14
23        Ninja     13
24        Noble      8
21       Mutant      7
8       Citizen      5
40          Spy      5
30       Ranger      4
27    Phyrexian      4
22       Mystic      4
44       Zombie      4
15        Gamer      3
11        Druid      3
32      Reveler      3
12          Elf      3
16       Horror      3
18    Mercenary      3
14   Flagbearer      2
28        Pilot      2
37       Shaman      2
7         Child      2
41      Warlock      2
33       Rigger      1
13         Fish      1
26      Peasant      1
10     Designer      1
6     Berserker      1
5         Beast      1
4        Avatar      1
19       Monger      1

In [71]:
# count wozard creature representations
wizards_exp.groupby('subtype').size().reset_index(name = 'count')\
    .sort_values(by = 'count', ascending = False)

       subtype  count
23       Human    295
27     Merfolk     84
46    Vedalken     27
4         Bird     25
29    Moonfolk     16
17      Faerie     13
31        Naga      9
25     Kithkin      9
20       Giant      9
30      Mutant      7
6     Cephalid      7
0         Ally      6
26         Kor      5
47      Zombie      5
34      Pirate      3
21       Gnome      3
15         Elf      3
44    Thalakos      3
8        Djinn      3
41     Soldier      3
28   Metathran      2
40    Skeleton      2
42      Sphinx      1
33   Phyrexian      1
39       Siren      1
38       Scout      1
37  Salamander      1
43      Spirit      1
45    Tiefling      1
36       Rogue      1
35      Rabbit      1
2    Artificer      1
14    Elephant      1
3       Avatar      1
32         Orc      1
5          Cat      1
7       Cleric      1
9       Donkey      1
10      Dragon      1
1        Angel      1
11       Druid      1
22      Horror      1
12       Dwarf      1
19        Frog      1
18         Fox      1
13   Elemental      1
16   Equipment      1
24    Illusion      1